* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
#app2{
  
  box-shadow: 10px 10px 126px 32px rgba(0,0,0,0.62);
  border-radius: 20px;
  
}
h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
  margin-top: 20px;
  
  
}
a{

}
h2,
p {
  color:salmon;
  font-weight: 500;
  opacity: 0.8;
  
  }

h3 {
  color: #4b5158;
  font-weight: 600;
  opacity: 0.8;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 110vh;
  background: linear-gradient(to right top, white, #ffdfd5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

i {
  color:rgb(206, 202, 202);
  font-size: 40px;  
}

img {
  margin-top: 10px;
  width: 150px
}



.glass {
  background: white;
  min-height: 10vh;
  
  width: 80%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(2rem);
  display: flex;
    
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    
    rgba(255, 255, 255, 0.3),
    rgba(252, 173, 173, 0.897)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 8%;
}
.circle2 {
  bottom: 5%;
  left: 5%;
}
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: rgb(243, 223, 223);
  border-radius: 2rem;
  margin-right: 100px;  
  
}
.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
  justify-content: center;
  text-decoration:none;
 
}
.link h2 {
  padding: 0rem 2rem;
  align-items: center;
  justify-content: center;
  text-decoration:none;
  }


.datos {
  flex: 2;
  margin-right: 50px
}

/* paciente */

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}

.progress {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 100%;
  height: 25%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(236, 236, 236);
  position: absolute;
  left: 60%;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #1b1f1e, #18191a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}






